
.water {
    fill: #ddd;
}
.graticule {
    fill: none;
    stroke: #444;
    stroke-width: 0.6;
    stroke-opacity: 0.4;
}
.land {
    fill: #444;
    fill-opacity: 0.6;
    stroke: #444;  
    stroke-opacity: 0.7;
    stroke-width: 1.5;
}
.countries path {
    fill: #c6b27b;
    fill-opacity: 0.4;
    stroke: #444;  
    stroke-linejoin: round;
    stroke-width: 0.4;
    stroke-opacity: 0.2;
}
.countries path:hover {
    fill-opacity: 0.6;
    stroke-width: 1.1;
    stroke-opacity: 0.5;
}
.labels {
    font: 12px sans-serif;
    fill: #444;
}
.point{
    fill: #700000;
    opacity: 0.8;
}
.noclick {
    pointer-events:none;
}
.labelc {
    fill: blue;
}

